<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/homePage.css">
    <script src="assets/js/homePage.js" defer></script>

</head>

<body>
    <header>
        <div class="logo">
            <h1>Car Park</h1>
        </div>
        <div class="login"><a href="" class="btn">Login</a></div>
    </header>
    <div class="container">
        <h1 class="group_name">Group 3</h1>
        <div class="group_people">
            <div class="member yen_do">
                <h3 class="member_name">Yen Do</h3>
                <img class="member_img" src="assets/img/yendo_img.png" alt="">
            </div>
            <div class="member tan">
                <h3 class="member_name">Tan</h3>
                <img class="member_img tan_img" src="assets/img/tan_img.png" alt="">
            </div>
            <div class="member cuong">
                <h3 class="member_name">Em Cuong</h3>
                <img class="member_img cuong_img" src="assets/img/cuong.png" alt="">
            </div>
            <div class="member thai">
                <h3 class="member_name">Em Thai Dep Trai vkl</h3>
                <img class="member_img thai_img" src="assets/img/thai_img.png" alt="">
            </div>
            <div class="member huy">
                <h3 class="member_name">Em Huy Thom vkl</h3>
                <img class="member_img Huy_img" src="assets/img/Hoang.png" alt="">
            </div>

        </div>
    </div>
    <div class="stars"></div>
</body>

</html>