* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

#header{
    height:46px;
    background-color: #242020;  
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index: 1;
}

.login{
    position: absolute;
    right: 0;
    line-height: 45px;
    margin-right: 5%;
}

.login a{
    color: #fff;
    text-decoration: none;
}


.map img{
        width: 100%;
}